:root {
    --light-fg: #333333;
    --light-bg: #ffffff;
    --light-strong-fg: #161718;

    --dark-fg: #e8e8e8;
    --dark-bg: #161718;
    --dark-strong-fg: #f4f4f4;

    --fg: var(--light-fg);
    --bg: var(--light-bg);
    --strong-fg: var(--light-strong-fg);
}

.dark-mode {
    --fg: var(--dark-fg);
    --bg: var(--dark-bg);
    --strong-fg: var(--dark-strong-fg);
    color: var(--fg);
    background-color: var(--bg);
}

.dark-mode a {
    color: #33ccee;
}

.dark-mode a:visited {
    color: #9f85ff;
}

html {
    font-family: sans-serif;
    font-size: max(2.12vh, 8pt);
    color: var(--fg);
    background-color: var(--bg);
    margin: 0 auto;
    transition:         none;
    -moz-transition:    none;
    -o-transition:      none;
    -webkit-transition: none;
    -ms-text-size-adjust:     100%;
    -webkit-text-size-adjust: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100vh;

    margin: 0;
    padding: 0;
}

div {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--strong-fg);
}

h1 {
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

h3 {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

h4 {
    margin-top: 0.36rem;
    margin-bottom: 0.36rem;
}

h5 {
    margin-top: 0.33rem;
    margin-bottom: 0.33rem;
}

h6 {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.small {
    font-size: max(1.6vh, 6pt);
    color: #2a2e33;
}

.dark-mode .small {
    color: #716f70;
}

.org-src-container {
    color: var(--fg);
    background-color: #f8f8f8; /* Just slightly brighter than --light-bg */

    border: 2px solid #444;
    border-radius: 4px;
    margin: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    /* Hide horizontal overflow, add scroll-bar */
    overflow-x: auto;
}

.dark-mode .org-src-container {
    background-color: #212223; /* Just slightly brighter than --dark-bg */

    border-color: #bbb;
}

.src {
    font-size: max(1.95vh, 8pt);
}

pre.example {
    border: 2px solid #444;
    border-radius: 4px;
    margin: 1vw;
    padding: 1vw;
    /* Hide horizontal overflow, add scroll-bar */
    overflow-x: auto;
}

.dark-mode .org-builtin,.dark-mode .org-keyword {
    color: #dd64f4;
}

.dark-mode .org-function-name {
    color: #ffebbb;
}

.dark-mode .org-type {
    color: #2cabff;
}

.dark-mode .org-string {
    color: #ffee20;
}

.dark-mode .org-comment-delimiter, .dark-mode .org-comment {
    color: #7f8388;
}

.dark-mode code span.co {
    color: #308093;
}

.dark-mode code span.fu {
    color: #2963f5
}

.org-function-name {
    color: #c26d3b;
}

.org-builtin,.org-keyword {
    color: #6f42c1;
}

.org-type {
    color: #007bff;
}

.org-string {
    color: #dc3545;
}

.org-comment-delimiter,.org-comment {
    color: #444343;
}

code span.co {
    color: #308093;
}

code span.fu {
    color: #007bff
}

button {
    height: 100%;
    color: inherit;
    background-color: inherit;
    border: none;
}

.title {
    text-align: center;
}

.content {
    margin: 0;
}

.author {
    text-align: center;
}

.postamble {
    font-size: max(1.2vh, 6pt);
}

.content {
    margin-left: 26vw;
    margin-right: 26vw;
}

@media only screen and (max-width: 1920px) {
    html {
        font-size: max(1.95vh, 8pt); /* max(2.12vh, 8pt) */
    }

    .src {
        font-size: max(1.8vh, 8pt);
    }

    .content {
        margin-left: 22vw;
        margin-right: 22vw;
    }
}

@media only screen and (max-width: 1366px) {
    html {
        font-size: max(1.8vh, 10pt);
    }

    .src {
        font-size: max(1.6vh, 8pt);
    }

    .content {
        margin-left: 18vw;
        margin-right: 18vw;
    }
}

@media only screen and (max-width: 800px) {
    .org-src-container {
        border-radius: 6px;
    }

    html {
        font-size: max(1.8vh, 8pt);
    }

    .src {
        font-size: max(1.5vh, 6pt);
    }

    .content {
        margin-left: 14vw;
        margin-right: 14vw;
    }
}

@media only screen and (max-width: 600px) {
    .org-src-container {
        border-radius: 8px;
    }

    .content {
        margin-left: 8vw;
        margin-right: 8vw;
    }
}

@media only screen and (max-width: 400px) {
    html {
        font-size: max(2.12vh, 8pt);
    }

    .src {
        font-size: max(1.8vh, 8pt);
    }
}

@media only screen and (max-width: 300px) {
    .org-src-container {
        border-radius: 6px;
    }

    html {
        font-size: max(1.95vh, 8pt);
    }

    .src {
        font-size: max(1.6vh, 8pt);
    }

    .content {
        margin-left: 4vw;
        margin-right: 4vw;
    }
}

#navbar {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    color: var(--fg);
    background-color: var(--bg);
    border-bottom: .2ex solid gray;
}

#navbar a {
    height: max(5ex, 4vmin);
    font-size: max(1.8vh, 12pt);
}

#navbar a:hover {
    color: #fff;
    background-color: #000;
    transition: color 0.7s;
    cursor: pointer; /* Some navbar anchors don't have an href */
}

.dark-mode #navbar a:hover {
    color: #000;
    background-color: #fff;
}

#navbar + header > h1 {
    margin-top: 0;
}

#navbar + h1 {
    margin-top: 0;
}

#navbar label, #hamburger {
    font-size: max(8vw, 12pt);
    margin: 0.2em;
    display: none;
}

#hamburger-items {
    max-width: 60%;
    display: flex;
}


#hamburger-items a {
    display: block;
    overflow: hidden;

    color: var(--fg);
    background-color: var(--bg);
    border: none;

    height: max(5ex, 4vmin);
    line-height: max(5ex, 4vmin);

    min-width: 4em;
    width: min-content;
    max-width: 8vw;

    flex-grow: 1;
    flex-basis: 0;

    text-decoration: none;
    text-align: center;
    white-space: nowrap;

    font-size: max(1.8vh, 12pt);
}

@media only screen and (max-width: 1366px) {
    #hamburger-items {
        max-width: 100%;
    }
    #hamburger-items a {
        max-width: none;
    }
}

@media only screen and (max-width: 600px) {
    #hamburger-items {
        max-width: 100%;
    }

    #hamburger-items a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        max-width: none;
        border-top: 1px solid #333;
    }

    #navbar label {
        display: inline-block;
    }
    #navbar input:checked ~ #hamburger-items { display: block; }
    #navbar input:checked ~ #hamburger-items a {
        height: max(7ex, 6vmin); /* height: max(5ex, 4vmin); */
        line-height: max(7ex, 6vmin); /* line-height: max(5ex, 4vmin); */
        font-size: max(2.12vh, 14pt); /* font-size: max(1.8vh, 12pt); */
    }
    #hamburger-items { display: none; }
}

footer {
    color: #484848; /* Just slightly lighter than --light-fg */
    background-color: #edeeef;

    border-top: 1px solid #333;

    width: 100%;
    padding: 50px 0;
    margin: 0 auto;
    margin-top: 5ex;

    text-align: center;
    font-size: max(1.8vh, 8pt);
}

.dark-mode footer {
    color: #686868;
    background-color: #0d0e0f;
}

.footer-row {
    width: 100%;
    margin: 0 auto;
}
footer .footer-row:not(:last-child) {
    margin: 0px auto 2.2ex;
}

.footer-row > * {
    margin: 0 1em;
}

.footer-row button, .footer-row a, .footer-row a:visited {
    color: #484848;
    cursor: pointer;
    padding: 0;
    font-size: max(1.8vh, 8pt);
}

.dark-mode .footer-row button, .dark-mode .footer-row a, .dark-mode .footer-row a:visited {
    color: #686868;
}

.footer-row button:hover, .footer-row a:hover,
.dark-mode .footer-row button:hover, .dark-mode .footer-row a:hover {
    color: var(--fg);
}
